@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize
}

.navbar {
  background: #ffffff !important;
  color: #000 !important;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  padding: 15px 0px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar-nav {
  width: fit-content;
  gap: 30px;
}

.nav-item a {
  font-size: 16px !important;
  font-weight: 500;
}

.nav-link.active {
  color: #57b63f !important;
  opacity: 1;
}

.navbar-brand {
  font-weight: 700;
  font-size: 25px;
}
.overlay.firstoverlay{
  background: none!important
}

.coupleimage {
  background-image: url(./jan-kopriva-W6WYTVatuPU-unsplash.jpg);
  width: 100%;
  height: 700px;
  background-size: cover;
  position: relative;
  background-attachment: fixed
}

.couple-parent {
  display: flex;
  padding-top: 300px;
  justify-content: space-between;
}

.coupleimage-content {
  width: 50%;
  color: #ffffff;
  
}

.fa-circle-play {
  background: transparent;
  font-size: 80px;
  color: #fff;
  padding-right: 80px;
  animation: 10s ease-in infinite 1s;
}

.coupleimage-content > h2 {
  font-size: 60px;
  color: #ffffff;
  word-spacing: 4px
}

.coupleimage-content > p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
  padding-top: 20px;
}

.allbtn {
  width: 50%;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.button {
  width: fit-content;
  padding: 10px 20px;
  border: 1px solid whitesmoke;
  background: #57b63f;
  border-radius: 3px;
}

.button1 {
  width: fit-content;
  padding: 10px 20px;
  border: 1px solid whitesmoke;
  color: #000;
  background: #fff;
  border-radius: 3px;
}

.sec-2 {
  width: 80%;
  display: flex;
  position: relative;
}

.sec-2 h3 {
  color: #ffffff;
}

.sec-2 p {
  color: #d3d3d3;
  line-height: 25px;
}

.sec-box1 {
  /* width: 500px; */
  background-color: #589167;
  border-radius: 3px;
  padding: 40px 20px 0px 70px;
 
}
.fa-clipboard-list {
  padding: 25px;
  background: transparent;
  font-size: 80px;
  color: #fff;
}
.fa-people-group {
  padding: 25px;
  background: transparent;
  font-size: 80px;
  color: #fff;
}
.icon-box-content {
  width: 200px;
}
.fa-umbrella {
  padding: 25px;
  background: transparent;
  font-size: 80px;
  color: #fff;
}
.sec-box2 {
  /* width: 450px; */
  background-color: #528760;
  border-radius: 3px;
  padding: 40px 20px 0px;
}

.sec-box3 {
  /* width: 450px; */
  background: #4e815c;
  border-radius: 3px;
  padding: 40px 20px 0px;
}
.section-2 {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
  
}
.first-box {
  width: 320px;
  text-align: center;
}
.first-box-icons {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #e4dfdf;
  margin: 20px auto;
}

.section-2-content > h2 {
  color: rgba(0, 0, 0, 0.7);
}
.section-2-content > p {
  color: gray;
  font-weight: 500;
}
.fa-print,
.fa-calendar-days {
  padding: 25px;
  background: transparent;
  font-size: 80px;
  color: #fff;
}
.section-3 {
  background: #f5f4f0;
  margin-top: 50px;
}
.sec-3-content {
  padding: 40px 30px;
}
.section-3 h4 {
  color: #589167;
}
.section-3 p {
  color: rgba(0, 0, 0, 0.7);
}
.section-3 p {
  color: grey;
  line-height: 30px;
  font-weight: 400;
}

.sec-4-box {
  width: 320px;
  padding: 30px 50px;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 4px;
  font-weight: 500;
  margin-top: 10px;
}
.sec-4-content p {
  line-height: 25px;
  font-weight: 500;
  color: gray;
}
.sec-4-content h2 {
  font-weight: 700;
  color: #000;
}
.friend-circle-image {
  background-image: url(./bg_4.jpg.webp);
  background-size: cover;
  /* opacity: 0.5; */
  width: 100%;
  height: 500px;
  position: relative;
}
.section-5 {
  padding: 80px 20px;
}
.card-box1 {
  width: 370px;
  text-align: center;
  background: #fff;
  padding: 50px 20px 30px;
  margin-top: 30px;
  transition: all 3s ease-in;
}
.card-box1 h5 {
  margin-top: 20px;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 15px;
  font-weight: 700;
}
.dollorsign {
  position: relative;
  top: -20px;
  font-size: 20px;
}
.number {
  font-size: 50px;
}
.card-box1 p {
  margin-top: 30px;
  font-weight: 500;
  color: gray;
  opacity: 0.9;
}
.button2 {
  width: 100%;
  margin-top: 30px;
  padding: 16px 0px;
  background-color: #589167;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.backgroundimage {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(./bg_2.jpg.webp);
  background-size: cover;
  background-attachment: fixed;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  content: "";
  opacity: 0.5;
  background: #589167;
}
/* .section-7 {
  position: relative;
  width: 100%;
  height: 400px;
  background: transparent;
} */
.section-overlay {
  padding: 100px 0px;
  position: relative;
  
}
.section-overlay h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 32px
}
.first-input {
  margin-top: 30px;
}
.first-input input {
  width: 250px;
  height: 45px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.second-input select {
  width: 525px;
  height: 45px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}
.third-input textarea {
  width: 530px;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
}
::placeholder {
  font-size: 16px;
  font-weight: 400;
}
.button3 {
  width: 530px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #589167 !important;
  border-color: #589167;
}
.section-7{
  width: 100%;margin-top: 50px;padding: 0 12px;
}
.circle{
  width: 100px;height: 100px;border-radius: 50%;background: rgb(245, 244, 240);margin: -50px auto 0px;z-index: 0;position: relative;padding: 10px 0px
}
.circle>h5{
  font-size: 28px;text-align: center;color: #589167
}
.circle>h4{
  font-size: 18px;text-align: center;margin-top: -5px
}
.circle>h6{
  font-size: 12px;text-align: center;color: gray
}
.section7-content h4{
  text-align: center;margin-top: 10px
}
.section7-content p{
  text-align: center;color: gray;font-size: 16px;font-weight: 400;margin-top: 25px;line-height: 30px;
}
.section-7-parent{
  display: flex;gap: 10px
}


.section7-images{
  width: 100%
}
footer{
  background: rgb(26, 26, 26);
  color: rgba(255, 255, 255, 0.9);padding: 100px 50px;margin-top: 80px;
}
.footicon{
  width: 40px;height: 40px;border-radius: 50%;background: #589167;display: flex;justify-content: center;align-items: center;
}
.footer a{
  display: block;text-decoration: none; color: rgba(255, 255, 255, 0.9);line-height: 35px;font-weight: 400
}
.footer h4{
  margin-bottom: 35px;color: #ffffff;font-size: 20px
}
.footer p{
  line-height: 25px;font-weight: 400
}
.foot1{
  padding: 0px 40px
}
.foot5{
  padding: 0px 50px
}
.footer2{
  padding: 40px 0px;color: gray;background: #000
}
.footer2 p{font-weight: 400}
